<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Noticias-{{ noticias.seccion }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

{% block body %}
    <h1>{{ titulo }}-{{ noticias.equipo }}</h1>

    <div>
        <p>
            {{ noticias.textoNoticia }}
        </p>

    </div>
{% endblock %}

